

<ion-content padding class="container" >
  <div class="toppad"></div>
  <img src="assets/images/derramaimage.jpg" class="imagederrama" alt="logo">

<ion-card class="logincard">
  <ion-card-header>
    <ion-card-subtitle style="color:white;">
     App BI
    </ion-card-subtitle>
  </ion-card-header>
  <ion-item class="itemsinput">
   
    <ion-input type="text"  [(ngModel)]="username" class="logininputs"  placeholder="Usuario"><ion-icon  name="person"></ion-icon></ion-input>
  </ion-item>
  <ion-item class="itemsinput">
  
    <ion-input type="password"  [(ngModel)]="password" class="logininputs"  placeholder="Contraseña"><ion-icon name="lock-closed"></ion-icon></ion-input>
  </ion-item>
  <ion-button class="loginbutton" (click)="login()" expand="block">Accesar</ion-button>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</ion-card>
</ion-content>
