

<ion-content padding class="container" >
  <img src="assets/images/derramaimage.jpg" style="padding-top: 62px; width: 100px;" alt="logo">
  <ion-toolbar class="logintoolbar">
    
    <ion-label>Consulta Movil BI</ion-label>
  </ion-toolbar>
<ion-card class="logincard">
  <ion-card-header>
    <ion-card-subtitle style="color:white;">
      Te damos la bienvenida
    </ion-card-subtitle>
  </ion-card-header>
  <ion-item lines="full">
   
    <ion-input type="text"  [(ngModel)]="username" class="logininputs"  placeholder="Usuario"></ion-input>
  </ion-item>
  <ion-item lines ="full">
  
    <ion-input type="password"  [(ngModel)]="password" class="logininputs"  placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-button class="loginbutton" (click)="login()" expand="block">Accesar</ion-button>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</ion-card>
</ion-content>
