<ion-header>
  <ion-toolbar class="ionbartool">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-label>App BI</ion-label>
    <ion-button slot="end" (click)="logout()">

      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="separator1">
    <ion-text color="dark">
      <ion-icon item-left name="person"></ion-icon>  Te damos la bienvenida!
    </ion-text>
  </ion-item>
<ion-item>
  <ion-item>
    <ion-label>Productos</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item>
</ion-item>
<ion-grid>
  <ion-row>
		<ion-col size="4">Detalle</ion-col>
    <ion-col size="2">Retiro</ion-col>
    <ion-col size="3">Depositos</ion-col>
		<ion-col size="2">Saldo</ion-col>
	</ion-row>
  <ion-row *ngFor="let valores of movimientos">

    
      <ion-col size="4" size-md (click)="navigate(valores.IdMovimiento)">
        {{valores.Detalle}}
      </ion-col>
      <ion-col size="2" size-md (click)="navigate(valores.IdMovimiento)">
        {{valores.Retiro}}
      </ion-col>
      <ion-col size="3" size-md (click)="navigate(valores.IdMovimiento)">
        {{valores.Depositos}}
      </ion-col>
      <ion-col size="2" size-md (click)="navigate(valores.IdMovimiento)">
        {{valores.Saldo}}
      </ion-col>
    

  </ion-row>

 
</ion-grid>
</ion-content>
