<ion-header>
  <ion-toolbar class="ionbartool">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-label>App BI</ion-label>
    <ion-button slot="end" (click)="logout()">

      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="separator1">
    <ion-text color="dark">
      <ion-icon src="assets/svg/newspaper.svg"></ion-icon> Detalle de Producto
    </ion-text>
  </ion-item>
<ion-item>
  <ion-item >
    <ion-label style="color: #2a52be;">Producto:</ion-label>
    <ion-select style="width: 212px; color:black; font-size: 13px;" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Seleccione" (ionChange)="onItemSelection($event)">
      <ion-select-option *ngFor="let key of listaproductos" value="{{key.ProductoId}}"><p style="font-size: 13px !important;">{{key.ProductoDescripcion}}</p></ion-select-option>
    </ion-select>
  </ion-item>
</ion-item>
<ion-card>
 
<ion-grid>
  <ion-card-header style="--background: #C2DFFF; color: black; font-weight: bold;">
    <ion-row >
      <ion-col size="8" size-md>Movimiento</ion-col>
     
      <ion-col size="3" size-md>Monto</ion-col>
    
    </ion-row>
  </ion-card-header>
  <ion-card-content style="padding-top: 20px;">
  <ion-row *ngFor="let valores of movimientos" >
    <ion-col size="8" size-md (click)="navigate(valores.IdMovimiento)">
      <p style="color: #2a52be;">{{valores.Detalle}}</p>
    </ion-col>
    <ion-col size="3" size-md (click)="navigate(valores.IdMovimiento)">
      <p [ngStyle]="{'color':getColor(valores.TipoMovimientoId)}"> S/{{valores.Monto}} </p>
    </ion-col>
  </ion-row>
</ion-card-content>
</ion-grid>

</ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="ionfootertool">
   <ion-text>
      BI Solutions 2020 - Version 1.0
   </ion-text>
  </ion-toolbar>
</ion-footer>