<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consulta Movil BI</ion-title>
    <ion-button slot="end" (click)="logout()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-item>
  <ion-text color="dark">
    <h5>Te damos la bienvenida {{ nombreUsuario }}!</h5>
  </ion-text>
</ion-item>
<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label color="dark" style="font-size: 15px;">Depósito e inversiones</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label color="dark" style="font-size: 15px;">Créditos y préstamos</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-label color="primary" style="text-align: center;">{{ depositoInversion }}</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label color="primary" style="text-align: center;">{{ creditoPrestamo }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<ion-item>
  <ion-grid>
    <ion-row>
    <ion-col size="12" style="text-align: center;">
      <ion-text color="dark">
        <ion-label color="dark" style="font-size: 15px;">Tus Productos</ion-label>
      </ion-text>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-item>

<ion-grid>
  <ion-row>
  <ion-col *ngFor="let x of productosArr" size="12">
  
      <ion-card (click)="navigate(x.IdProducto)">
        <ion-card-header>
          <ion-card-title style="font-size: 15px;"> {{ x.DescripcionProducto }}</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-label color="dark" style="font-size: 15px;">Disponible</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label color="primary" style="font-size: 15px;">{{ x.Disponible }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-label color="dark" style="font-size: 15px;">Saldo Total</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label color="primary" style="font-size: 15px;">{{ x.SaldoTotal }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card>
  </ion-col>
</ion-row>
</ion-grid>

</ion-content>
