<ion-header>
  <ion-toolbar class="ionbartool">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label>App BI</ion-label>
    <ion-button slot="end" (click)="logout()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>
      Panel Content
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>

<ion-item class="separator1">
  <ion-text color="dark">
    <ion-icon item-left name="person"></ion-icon>  Te damos la bienvenida {{ nombreUsuario }}!
  </ion-text>
</ion-item>
<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label color="dark" style="font-size: 15px;">Depósito e inversiones</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label color="dark" style="font-size: 15px;">Créditos y préstamos</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-label color="primary" style="text-align: center;">{{ depositoInversion }}</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label color="primary" style="text-align: center;">{{ creditoPrestamo }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<ion-item class="separator1">
  <ion-grid>
    <ion-row>
    <ion-col size="12" style="text-align: center;">
      <ion-text color="dark">
        <ion-label color="dark" style="font-size: 15px;">Tus Productos <ion-icon item-left name="cube"></ion-icon></ion-label>
        
      </ion-text>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-item>

<ion-grid>
  <ion-row>
  <ion-col *ngFor="let x of productosArr" size="12">

      <ion-card (click)="navigate(x.IdProducto)">
        <ion-card-header>
          <ion-card-title style="font-size: 15px;"> {{ x.DescripcionProducto }}</ion-card-title>

        </ion-card-header>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-label color="dark" style="font-size: 15px;">Disponible</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label color="primary" style="font-size: 15px;">{{ x.Disponible }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-label color="dark" style="font-size: 15px;">Saldo Total</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label color="primary" style="font-size: 15px;">{{ x.SaldoTotal }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card>
  </ion-col>
</ion-row>
</ion-grid>

</ion-content>
