.ionbartool{
    padding-bottom: 10px;
    color: #fff;
    --background: #2a52be;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
}



.separator1{
    --background: #C2DFFF;
    --color: black;
    font-weight: 700;
}

.cardheader{
    --background: #C2DFFF;
   
    font-size: 15px;color: black;
    font-weight:bold;
}

.ionfootertool{
    padding-bottom: 10px;
    color: #fff;
    --background: #2a52be;
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
   // font-weight: 700;
    padding-left: 20px
}